@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background:#faf8f3;
    color:#171717;
    font-family:"Inter", sans-serif;
    overflow-x: hidden;
}



/* HEADER */

.header{
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 80px;
}


.logo{
    display:flex;
    align-items:center;
    gap:15px;
    font-family:"Cormorant Garamond", serif;
    font-size:20px;
    letter-spacing:4px;
    line-height:1.1;
}

.logoaccueil a{
    text-decoration:none;
    color:#1C1A18;
    font-family:"Cormorant Garamond", serif;
    font-size:20px;
    font-weight:500;
    letter-spacing:6px;
    line-height:0.9;
    display:inline-block;
    transition:.3s ease;
}


/* эффект при наведении */

.logoaccueil a:hover{
    color:#A13842;
}

.logo-icon{
    font-size:45px;
    color:#252525;
}


/* =====================
   NAVIGATION
===================== */


.navigation ul{

    list-style:none;

    display:flex;

    align-items:center;

    gap:38px;

    margin:0;

    padding:0;

}





.navigation a{

    position:relative;

    text-decoration:none;

    color:#1C1A18;

    font-family:"Inter", sans-serif;

    font-size:13px;

    letter-spacing:2px;

    text-transform:uppercase;

    transition:.3s ease;

}





/* ligne sous ссылкой */


.navigation a::after{

    content:"";

    position:absolute;

    left:50%;

    bottom:-10px;

    transform:translateX(-50%);

    width:0;

    height:1px;

    background:#A13842;

    transition:.35s ease;

}





.navigation a:hover{

    color:#A13842;

}




.navigation a:hover::after{

    width:100%;

}





/* активная страница */

.navigation a.active{

    color:#A13842;

}



.navigation a.active::after{

    width:100%;

}






/* мобильная версия */


@media(max-width:900px){


.navigation ul{

    flex-direction:column;

    gap:25px;

}


.navigation a{

    font-size:14px;

}


}


.header-button{
    border:1px solid #222;
    padding:14px 35px;
    border-radius:40px;
    text-decoration:none;
    color:#111;
    font-size:14px;
    background-color: #F3EEE4;
}

/* HERO */


.hero{
    min-height:650px;
    display:flex;
    align-items:center;
    padding:50px 80px;
}


.hero-content{
    width:50%;
}


.subtitle{
    color:#A13842;
    font-size:13px;
    letter-spacing:3px;
}


h1{
    font-family:"Cormorant Garamond",serif;
    font-weight:400;
    font-size:95px;
    line-height:.95;
    margin:35px 0;
}


h1 span{
    color:#A13842;
    font-style:italic;
}


.description{
    max-width:430px;
    font-size:17px;
    line-height:1.7;
    color:#5b5b5b;
}


.primary-button{
    display:inline-block;
    margin-top:40px;
    padding:18px 45px;
    background:#171717;
    color:white;
    border-radius:40px;
    text-decoration:none;
    font-size:15px;
}

.btndon{
display:inline-block;
margin-top: 20px;
    padding:18px 45px;
    background:#A13842;
    color: #F3EEE4;
    border-radius:40px;
    text-decoration:none;
    font-size:15px;
}

.buttdob{

    display:flex;
    flex-direction:column;
    align-items:flex-start;

}

/* HERO ART */


.hero-image{
    width:50%;
    height:500px;
    position:relative;
}


.circle{
    position:absolute;
    width:300px;
    height:300px;
    right:160px;
    top:50px;
    background:#d8b879;
    opacity:.65;
    border-radius:50%;
}


.feather{
    position:absolute;
    right:100px;
    top:130px;
    font-size:220px;
    transform:rotate(-20deg);
    filter:grayscale(1);
}





/* =====================
   EVENTS
===================== */


.events{
    padding:100px 80px;
    background:#F3EEE4
}


.events-header{
    margin-bottom:60px;
}


.section-label{
    color:#A13842;
    font-size:12px;
    letter-spacing:4px;
    margin-bottom:20px;
}



.events h2{
    font-family:"Cormorant Garamond",serif;
    font-size:65px;
    font-weight:400;
    color:#1C1A18;
    text-align: center;
}

.event-list{
    max-width:900px;
}

.event{
    display:flex;
    align-items:center;
    gap:70px;
    padding:45px 0;
    border-top:1px solid rgba(161,56,66,.25);
    border-bottom:1px solid rgba(161,56,66,.25);
    position:relative;
     align-items: center;
    justify-content: center;
}

/* DATE */


.event-date{
    min-width:150px;
    height:150px;
    border-radius:50%;
    background:#FAF8F3;
    border:1px solid rgba(161,56,66,.35);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}



.event-date span{
    font-family:"Cormorant Garamond",serif;
    font-size:38px;
    color:#A13842;
    letter-spacing:3px;
}



.event-date small{
    margin-top:5px;
    font-size:13px;
    letter-spacing:3px;
    color:#777;
}



/* CONTENT */


.event-content h3{
    font-family:"Cormorant Garamond",serif;
    font-size:48px;
    font-weight:400;
    margin-bottom:15px;
    color:#1C1A18;
}




.event-content p{
    font-size:16px;
    color:#6c6761;
    margin-bottom:25px;
}





.link-more{

    text-decoration:none;

    color:#A13842;

    font-size:13px;

    letter-spacing:3px;

    text-transform:uppercase;

    transition:.3s;

}



.link-more:hover{

    letter-spacing:5px;

}





/* HOVER EFFECT */


.event:hover .event-date{

    background:#A13842;

    transition:.4s;

}



.event:hover .event-date span{

    color:#FAF8F3;

}



.event:hover .event-date small{

    color:#FAF8F3;

}






@media(max-width:800px){


.events{

    padding:60px 25px;

}



.events h2{

    font-size:48px;
    text-align: center;

}



.event{

    flex-direction:column;

     align-items: center;
    justify-content: center;

    gap:35px;

}



.event-content h3{

    font-size:38px;

}


}



/* QUOTE */


.quote{
    padding:90px 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


blockquote{
    

    font-family:"Cormorant Garamond";
    font-size:55px;
    line-height:1.2;

    font-style:italic;
}

.link-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    font-weight: 500;
    color: #111;
    transition: 0.3s ease;
}

.link-more:hover {
    gap: 10px;
    color: #555;
}



/* FOOTER */


/* FOOTER */

.footer{

    margin-top:80px;

    padding:50px 80px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    background:#F3EEE4;

    border-top:1px solid rgba(161,56,66,0.15);

}



/* LOGO */

.footer-logo{

    font-family:"Cormorant Garamond", serif;

    font-size:34px;

    letter-spacing:6px;

    color:#1C1A18;

    position:relative;

}


.footer-logo::after{

    content:"";

    display:block;

    width:70px;

    height:1px;

    background:#A13842;

    margin-top:15px;

}





/* SOCIALS */


.socials{

    display:flex;

    align-items:center;

    gap:25px;

}



.socials a{

    text-decoration:none;

    color:#1C1A18;

    font-size:14px;

    letter-spacing:2px;

    text-transform:uppercase;

    padding:12px 25px;

    border:1px solid rgba(161,56,66,0.35);

    border-radius:40px;

    transition:.3s ease;

}



.socials a:hover{

    background:#A13842;

    color:white;

    border-color:#A13842;

}






/* RESPONSIVE */


@media(max-width:700px){


.footer{

    flex-direction:column;

    gap:35px;

    text-align:center;

    padding:40px 25px;

}


.footer-logo{

    font-size:28px;

}


.socials{

    flex-direction:column;

}


}
/* MOBILE */


@media(max-width:900px){

.header{
    padding:30px;
}


.navigation{
    display:none;
}


.hero{
    flex-direction:column;
    padding:40px 30px;
}


.hero-content,
.hero-image{
    width:100%;
}


h1{
    font-size:60px;
}


.cards{
    grid-template-columns:1fr;
}


.possibilities,
.events,
.quote,
.newsletter{
    padding:50px 30px;
}


.event{
    gap:20px;
}

}


/* -------------------------------------------- */

.page-hero{

padding:100px 80px;

min-height:600px;

}



.content-section{

display:flex;

gap:80px;

padding:50px 30px;

border-top:1px solid rgba(161,56,66,.15);

}


.section-number{

font-family:"Cormorant Garamond";

font-size:50px;

color:#A13842;

}



.content-section h2{

font-size:60px;

margin-bottom:30px;

}



.content-section p{

max-width:650px;

font-size:18px;

line-height:1.8;

color:#625d57;

}



.info-box{

margin-top:30px;

padding:25px;

background:#F3EEE4;

color:#625d57;

letter-spacing:3px;

}





.membership{

margin:80px;

padding:80px;

background:#F3EEE4;

color:#625d57;

text-align:center;

}



.membership h2{

color:#625d57;

}



.membership p{

font-size:20px;

margin:30px auto;

max-width:600px;

}

.primarybutton {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top:40px;
    padding:18px 45px;
    background:#faf8f3;
    color: #000;
    border-radius:40px;
    text-decoration:none;
    font-size:15px;
    word-spacing: 3px;
    line-height: 25px;
}

.iconuk {
    width: 50px;
    padding-top: 10px;
}

/* MODAL */


.link-more{

    background:none;
    border:none;

    padding:0;

    color:#A13842;

    font-family:"Inter", sans-serif;

    font-size:13px;

    letter-spacing:3px;

    text-transform:uppercase;

    cursor:pointer;

}

/* MODAL */


/* =====================
   LITERARY MODAL
===================== */


.modal{

    position:fixed;

    inset:0;

    background:rgba(28,26,24,.55);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    visibility:hidden;

    transition:.4s ease;

    z-index:999;

    backdrop-filter:blur(5px);

}



.modal.active{

    opacity:1;

    visibility:visible;

}





.modal-content{


    width:560px;

    max-width:90%;


    background:#F3EEE4;


    padding:65px 70px;


    position:relative;


    border-top:4px solid #625d57;


    box-shadow:0 40px 100px rgba(0,0,0,.18);


    transform:translateY(30px);


    transition:.4s ease;


}



.modal.active .modal-content{

    transform:translateY(0);

}





/* CLOSE */


.modal-close{

    position:absolute;

    right:25px;

    top:20px;


    border:none;

    background:none;


    font-family:"Cormorant Garamond",serif;

    font-size:40px;


    color:#625d57;


    cursor:pointer;

}





/* LABEL */


.modal-label{


    color:#A13842;


    font-size:12px;


    letter-spacing:5px;


    margin-bottom:25px;


}







.modal-content h2{


    font-family:"Cormorant Garamond",serif;


    font-weight:400;


    font-size:58px;


    line-height:1;


    color:#1C1A18;


    margin-bottom:25px;


}





.modal-line{


    width:70px;

    height:1px;

    background:#F3EEE4;

    margin-bottom:30px;


}





.modal-description{


    color:#625d57;


    font-size:17px;


    line-height:1.8;


}





/* DETAILS */


.modal-details{


    margin-top:40px;


    padding-top:30px;


    border-top:1px solid rgba(161,56,66,.2);


    display:flex;


    flex-direction:column;


    gap:18px;


}



.modal-details div{


    display:flex;


    justify-content:space-between;


    gap:20px;


}



.modal-details span{


    color:#A13842;


    font-size:13px;


    letter-spacing:2px;


    text-transform:uppercase;


}



.modal-details strong{


    font-weight:400;


    color:#1C1A18;


    text-align:right;


}







/* BUTTON */


.modal-button{


    display:inline-flex;


    margin-top:40px;


    padding:16px 45px;


    background:#A13842;


    color:#FAF8F3;


    text-decoration:none;


    border-radius:40px;


    letter-spacing:2px;


    font-size:13px;


    text-transform:uppercase;


    transition:.3s;


}



.modal-button:hover{


    background:#7f2c35;


}







@media(max-width:600px){


.modal-content{

    padding:45px 30px;

}



.modal-content h2{

    font-size:42px;

}



.modal-details div{

    flex-direction:column;

}


.modal-details strong{

    text-align:left;

}


}

/* =====================
   INSTAGRAM BUTTON
===================== */


.boutiqueinst{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:12px;


    padding:16px 38px;


    text-decoration:none;


    color:#A13842;


    border:1px solid rgba(161,56,66,.45);


    border-radius:50px;


    font-family:"Inter", sans-serif;


    font-size:13px;


    letter-spacing:3px;


    text-transform:uppercase;


    position:relative;


    overflow:hidden;


    transition:.4s ease;
    margin-top: 20px;

}











.boutiqueinst:hover{

    background:#A13842;

    color:#FAF8F3;

    transform:translateX(8px);

}





.boutiqueinst:hover::before{

    transform:translateY(0);

}

/* ATELIER BUTTONS */


.btnsatelier{

    display:flex;

    flex-direction:column;

    align-items:flex-start;

    gap:15px;
    margin-top: 20px;

}



.atelier-btn{

    width:320px;

    padding:20px 35px;

    background:#FAF8F3;

    border:1px solid rgba(161,56,66,.35);

    border-radius:50px;

    color:#A13842;

    text-align:left;

    font-size:15px;

    letter-spacing:1px;

    cursor:pointer;

    transition:.35s ease;

}



.atelier-btn:hover{

    background:#A13842;

    color:#FAF8F3;

    transform:translateX(8px);

}

/* ATELIER MODAL */


.atelier-modal{

    position:fixed;

    inset:0;

    background:rgba(28,26,24,.55);

    backdrop-filter:blur(5px);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    visibility:hidden;

    transition:.4s ease;

    z-index:1000;

}



.atelier-modal.active{

    opacity:1;

    visibility:visible;

}





.atelier-modal-content{

    width:550px;

    max-width:90%;

    background:#FAF8F3;

    padding:60px;

    border-top:4px solid #625d57;

    position:relative;

    transform:translateY(30px);

    transition:.4s ease;

}



.atelier-modal.active .atelier-modal-content{

    transform:translateY(0);

}





.atelier-close{

    position:absolute;

    right:25px;

    top:15px;

    background:none;

    border:none;

    font-size:40px;

    color:#625d57;

    cursor:pointer;

}



.modal-label{

    color:#625d57;

    letter-spacing:4px;

    font-size:12px;

}



.atelier-modal-content h2{

    font-family:"Cormorant Garamond",serif;

    font-size:55px;

    font-weight:400;

    margin:25px 0;

}



.atelier-modal-content p{

    color:#625d57;

    line-height:1.8;

    font-size:17px;

}



.atelier-info{

    margin-top:30px;

    padding-top:25px;

    border-top:1px solid rgba(161,56,66,.2);

    color:#A13842;

    letter-spacing:2px;

}

.maincont {
    display: flex;
    gap: 20px;

    overflow-x: auto;      /* скролл только внутри контейнера */
    overflow-y: hidden;

    flex-wrap: nowrap;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.content-section {
    flex: 0 0 200px;       /* ширина карточки */
    box-sizing: border-box;

    scroll-snap-align: start;
}

.strelka {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-top: 20px;

    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #A13842;

    user-select: none;
    pointer-events: none;

    animation: pulse 2s ease-in-out infinite;
}

.strelka::after {
    content: "⮕";
    font-size: 1.1rem;
    animation: slide 1.5s ease-in-out infinite;
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(8px);
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }
}
